<div class="container-fluid">
	<div class="row">
	  <div class="col-xs-12"><%= @board.title %></div>

	  <div class="col-xs-12 col-sm-6">
      <div>Ready</div>
      <hr>
      <ul>
        <% @board.cards.ready.each do |card| %>
          <li><%= card.title %></li>
        <% end %>
      </ul>
    </div>

	  <div class="col-xs-6 col-sm-3">
      <div>Doing</div>
      <hr>
      <ul>
        <% @board.cards.doing.each do |card| %>
          <li><%= card.title %></li>
        <% end %>  
       </ul> 
    </div>

	  <div class="col-xs-6 col-sm-3">
      <div>Done</div>
      <hr>
      <ul>
        <% @board.cards.done.each do |card| %>
          <li><%= card.title %></li>
        <% end %>
      </ul>
    </div>

	</div>
</div>