<div class="container-fluid">
  <div class="row"> 
    <div class="col-xs-12">Board Title</div>
    <div class="col-xs-12 col-sm-6">Ready</div>
    <div class="col-xs-6 col-sm-3">Doing</div>
    <div class="col-xs-6 col-sm-3">Done</div>
  </div>
</div>
