<div class="container-fluid">
	<div class="row">
	  <div class="col-xs-12 board-name"><%= @board.title %></div>

	  <div class="col-xs-12 col-sm-6 state ready">
      <div class="name">Ready</div>
      <hr>
      <%= render @board.cards.ready %>
    </div>

	  <div class="col-xs-6 col-sm-3 state doing">
      <div class="name">Doing</div>
      <hr>
      <%= render @board.cards.doing %>
    </div>

	  <div class="col-xs-6 col-sm-3 state done">
      <div class="name">Done</div>
      <hr>
      <%= render @board.cards.done %>
    </div>

	</div>
</div>