<div class="container-fluid">
	<div class="row">
	  <div class="col-xs-12"><%= @board.title %></div>

	  <div class="col-xs-12 col-sm-6">
      <div>Ready</div>
      <hr>
      <%= render @board.cards.ready %>
    </div>

	  <div class="col-xs-6 col-sm-3">
      <div>Doing</div>
      <hr>
      <%= render @board.cards.doing %>
    </div>

	  <div class="col-xs-6 col-sm-3">
      <div>Done</div>
      <hr>
      <%= render @board.cards.done %>
    </div>

	</div>
</div>