<div class="card">
  <div class="title"><%= card.title %></div>

  <div class="description">
    <%= card.description %>
  </div>

  <div class="nav">
    <%= state_change_links(card) %>
  </div>
</div>
