<!DOCTYPE html>
<html>
<head>
  <title>LittleByLittle</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container">
      <ul class="nav nav-pills navbar-left">
        <li role="presentation"><a href="#">Sign up</a></li>
        <li role="presentation"><a href="#">Sign in</a></li>
      </ul>
      <a class="navbar-brand navbar-right" href="#">Little By Little</a>
    </div>
	</nav>

<%= yield %>

</body>
</html>
